@import '../../assets/styles/variables';

.header {
  &__content {
    background-color: #000;
  }
}

.cart-bar {
  position: relative;
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 40px;
  }

  &__details {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__icon-seed {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;

    background-image: url('../../assets/images/seed.svg');
  }

  &__value {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-radius: 50%;
    display: block;
    background-color: $accent;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__price {
    text-transform: uppercase;
  }

  &__details-cart {
    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
  }

  &__text {
    text-transform: uppercase;
  }

  &__arrow {
    display: block;
    width: 24px;
    height: 24px;
  }

  &__cart {
    position: absolute;
    top: 88px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 586px;
    height: 260px;
    overflow: auto;
    border-radius: 24px;
    padding: 32px;
    z-index: 2;
  }
}