@import './variables';
@import './reset';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition: all 0.3s ease;
}

.page {
  font-family: 'Rubik', sans-serif;
  color: $main-text-color-white;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff4200;
  outline: none;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;

  &:hover {
    background-color: #e53b00;
  }

  &--taste-it {
    display: inline-block;
    font-size: 20px;
    padding: 14px 32px;
    letter-spacing: 1px;
  }

  &--checkout {
    padding: 11px 24px;
  }

  &--add {
    width: 60px;
    height: 60px;
  }
}

