@import '../../assets/styles/variables';

.nav {
  &__content {
    background: rgba(51, 51, 51, 0.5);
  }
  &__list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 64px;
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    padding: 32px 0;
    position: relative;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: $accent;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}